<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<!-- JAVASCRIPT -->
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>
		<script src="js/jogo.js"></script>
		<script src="js/behavior.js"></script>
		<!-- CSS -->
		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
		integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

	</head>

	<body class="body-jogo">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="form-group sair">
					<button id="logout_btn" type="button" class="btn btn-info pull-right">Sair</button>
				</div>
			</div>
		</nav>

	    <div class="container">
	    	<% if (validacao.length > 0) { %>
			<div class="alert alert-danger">
				<lu>
					<% for (var i = 0; i < validacao.length; i++) { %>
					<li>
						<%= validacao[i].msg %>
					</li>
					<% } %>
				</lu>
			</div>
			<% } %>
			<% if (info.length > 0) { %>2
			<div class="alert alert-info">
				<lu>
					<% for (i = 0; i < info.length; i++) { %>
					<li>
						<%= info[i].msg %>
					</li>
					<% } %>
				</lu>
			</div>
			<% } %>
			<div class="row">
	    		<div class="col-sm-3 casa">
					<img src="images/casa_<%=house%>.jpg" />
				</div>

	    		<div class="col-sm-9">
					<div class="row barra-superior">
						<div class="col-sm-2"> 
							<span>Temor</span>
							<img src="images/habilidades/temor.jpg" title="Temor" alt="Temor" />
							<span><%=jogo.temor%></span>
						</div>
						
						<div class="col-sm-2">
							<span>Sabedoria</span>
							<img src="images/habilidades/sabedoria.jpg" title="Sabedoria" alt="Sabedoria"/>
							<span><%=jogo.sabedoria%></span>
						</div>
						
						<div class="col-sm-2">
							<span>Comércio</span>
							<img src="images/habilidades/comercio.jpg" title="Comércio" alt="Comércio"/>
							<span><%=jogo.comercio%></span>
						</div>
						
						<div class="col-sm-2"> 
							<span>Magia</span>
							<img src="images/habilidades/magia.jpg" title="Magia" alt="Magia"/>
							<span><%=jogo.magia%></span>
						</div>
					</div>
				</div>
	    	</div>
			
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					<div id="acoes" class="acoes">Waiting orders!</div>					
				</div>
			</div>
			
		</div>	
		
		<div class="barra-inferior">
			<div class="container">
			
				<div class="row">
					<div class="col-sm-1">
						<span>Aldeões</span>
						<img id="btn_suditos" src="images/outros/suditos.jpg" title="Aldeões" alt="Aldeões"/>
						<span><%=jogo.suditos%></span>
					</div>
					
					<div class="col-sm-1">
						<span>Pergaminhos</span>
						<img id="btn_pergaminhos" src="images/outros/pergaminho.jpg" title="Pergaminhos" alt="Pergaminhos"/>
						<span>0</span>
					</div>
					
					<div class="col-sm-8"></div>
					
					<div class="col-sm-2">
						<span>Moeda</span>
						<img src="images/outros/moeda.jpg" title="Moeda" alt="Moeda"/>
						<span><%=jogo.moeda%></span>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>